<h2><%= @vendor.name %></h2>

<h3>Contact Info:</h3>
<p><%= @vendor.contact_name %></p>
<p><%= @vendor.contact_phone %></p>
<p>Credit Accepted?: <%= @vendor.credit_accepted ? 'YES' : 'NO' %></p>
<p>Description: <%= @vendor.description %></p>

<h3>Search for Markets to add this vendor:</h3>
<%= form_with url: markets_search_path do |form| %>
  <%= form.text_field :name, placeholder: 'name', id: 'name' %>
  <%= form.text_field :city, placeholder: 'city', id: 'city' %>
  <%= form.text_field :state, placeholder: 'state', id: 'state' %>
  <%= form.submit 'Search' %>
<% end %>
