<h2><%= @vendor.name %></h2>

<h3>Contact Info:</h3>
<p><%= @vendor.contact_name %></p>
<p><%= @vendor.contact_phone %></p>
<p>Credit Accepted?: <%= @vendor.credit_accepted ? 'YES' : 'NO' %></p>
<p>Description: <%= @vendor.description %></p>
