<h2><%= @market.name %></h2>
<h3><%= @market.street %></h3>
<h3><%= @market.city %>, <%= @market.state %> <%= @market.zip %></h3>

<h3>Vendors at our Market:</h3>
<div id='vendors'>
  <% @market.vendors.each do |vendor| %>
    <%= link_to vendor.name, vendor_path(vendor), class: 'vendor' %>
  <% end %>
</div>
